<h4>Список семестров:</h4>
{{#each semesters as |semester|}}
    <button value="{{semester}}" {{action "test" semester}}>
        <p>{{semester.name}}</p>
        <p>{{date-format semester.dateBeg}}</p>
        <p>{{date-format semester.dateEnd}}</p>
    </button>
    
{{/each}}

{{yield}}
